{% extends 'base.html' %}

{% load static %}
{% block content %}
<section class="blog-section spad">
		<div class="container">
			<div class="row">
				<div class="col-xl-9 col-lg-8 col-md-7">
					<div class="blog-item">
						<div class="blog-thumb">
							<img src="{% static 'img/cha1.gif' %}" height="230px;" alt="">
						</div>
						<div class="blog-text text-box text-white">
							<h3>Sleepy Gurl #1 (Anna)</h3>
							<p style="color: white;">Một nữ sinh viên ham ngủ hơn học. Gần như luôn luôn trễ deadline, và lần này cũng không phải ngoại lệ. Hiện tại cô vẫn bị cầm chân bởi sự ham ngủ của mình.</p>
						</div>
					</div>
					<div class="blog-item">
						<div class="blog-thumb">
							<img src="{% static 'img/cha2.gif' %}" alt="" height="230px;">
						</div>
						<div class="blog-text text-box text-white">
							<h3>Sleepy Gurl #2 (Emily) </h3>
							<p style="color: white;"> Em gái của Anna, vì thấy chị chịu nhiều áp lực bởi việc chạy deadline nên Emily đã giúp chị một tay.</p>
						</div>
					</div>
					<div class="blog-item">
						<div class="blog-thumb">
							<img src="{% static 'img/caphe.png' %}" alt="">
						</div>
						<div class="blog-text text-box text-white">
							<h3>Coffee</h3>
							<p style="color: white;">vật phẩm giúp Sleepy Gurl thoát  khỏi cơn buồn ngủ tạm thời, tập trung làm deadline và hoàn thành nhanh chóng. Được thêm điểm</p>
						</div>
					</div>
					<div class="blog-item">
						<div class="blog-thumb">
							<img src="{% static 'img/star.png' %}" alt="" width="130px;" height="130px;">
						</div>
						<div class="blog-text text-box text-white">
							<h3>Ngôi Sao</h3>
							<p style="color: white;">vật phẩm giúp Sleepy Gurl vượt qua deadline dễ dàng hơn. Cho phép đi xuyên qua deadline và giải tỏa mọi trạng thái bất lợi.</p>
						</div>
					</div>
					<div class="blog-item">
						<div class="blog-thumb">
							<img src="{% static 'img/team.png' %}" alt="" width="130px;" height="130px;">
						</div>
						<div class="blog-text text-box text-white">
							<h3>Teamwork</h3>
							<p style="color: white;">Sleepy Gurl nhận được sự giúp đỡ từ bạn bè để hoàn thành deadline. Được cộng điểm.</p>
						</div>
					</div>
					<div class="blog-item">
						<div class="blog-thumb">
							<img src="{% static 'img/sleep.png' %}" alt="" width="130px;" height="130px;">
						</div>
						<div class="blog-text text-box text-white">
							<h3>Buồn ngủ</h3>
							<p style="color: white;">Điều mà Sleepy Gurl không thể tránh khỏi khi chạy 	       deadline. Làm cho khả năng nhảy giảm đi (có thể cộng dồn).</p>
						</div>
					</div>
					<div class="blog-item">
						<div class="blog-thumb">
							<img src="{% static 'img/doggo.png' %}" alt="" width="130px;" height="130px;">
						</div>
						<div class="blog-text text-box text-white">
							<h3>Doggo</h3>
							<p style="color: white;">Thú cưng của Sleepy Gurl, luôn phá phách bài tập. Giảm điểm.</p>
						</div>
					</div>
					<div class="blog-item">
						<div class="blog-thumb">
							<img src="{% static 'img/dangtri.png' %}" alt="" width="130px;" height="130px;">
						</div>
						<div class="blog-text text-box text-white">
							<h3>Đãng Trí</h3>
							<p style="color: white;"> Do check nhầm hạn nộp Deadline nên kế hoạch học tập của Sleepy Gurl đã bị “đảo lộn” hoàn toàn! </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock content %}