{% load static %}
	<header class="header-section"  style="background: #557153">
		<div class="header-warp">
			<div class="header-social d-flex justify-content-end">
				<p>Contact:</p>
				<a href="mailto:dtechnophiles123@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
			</div>
			<div class="header-bar-warp d-flex">
				<!-- site logo -->
				<a href="/" class="site-logo">
					<img src="{% static 'img/wordgame1.png' %}" width="180px" height="50px" alt="">
				</a>
				<nav class="top-nav-area w-100">

					<!-- Menu -->
					<ul class="main-menu primary-menu">
						<li><a href="/">Home</a></li>
						<li><a href="/rules">Luật Chơi</a></li>
						<li><a href="/characters">Nhân Vật & Vật Phẩm</a></li>

					</ul>
				</nav>
			</div>
		</div>
	</header>